In [107]:
# initialising libraries
library(tidyverse)
library(rvest)
library(readr)
library(skimr)
library(visdat)
library(purrr)
library(stringr)
library(glue)
library(jsonlite)
library(httr)
library(magrittr)

In [108]:
# setting up our API query for Auckland Transport
api_query <- 'https://services2.arcgis.com/JkPEgZJGxhSjYOo0/arcgis/rest/services/TrafficService/FeatureServer/0/query?where=1%3D1&outFields=*&outSR=4326&f=json'

In [109]:
# now let's read the JSON and have a look
traffic_raw <- fromJSON(api_query, flatten = TRUE)

traffic_raw %>%
    glimpse()

List of 8
 $ objectIdFieldName    : chr "OBJECTID"
 $ uniqueIdField        :List of 2
  ..$ name              : chr "OBJECTID"
  ..$ isSystemMaintained: logi TRUE
 $ globalIdFieldName    : chr ""
 $ geometryType         : chr "esriGeometryPoint"
 $ spatialReference     :List of 2
  ..$ wkid      : int 4326
  ..$ latestWkid: int 4326
 $ fields               :'data.frame':	22 obs. of  7 variables:
  ..$ name        : chr [1:22] "OBJECTID" "carr_way_no" "road_id" "road_name" ...
  ..$ type        : chr [1:22] "esriFieldTypeOID" "esriFieldTypeInteger" "esriFieldTypeInteger" "esriFieldTypeString" ...
  ..$ alias       : chr [1:22] "OBJECTID" "CARRIAGEWAY NO" "Road ID" "Road Name" ...
  ..$ sqlType     : chr [1:22] "sqlTypeOther" "sqlTypeOther" "sqlTypeOther" "sqlTypeOther" ...
  ..$ domain      : logi [1:22] NA NA NA NA NA NA ...
  ..$ defaultValue: logi [1:22] NA NA NA NA NA NA ...
  ..$ length      : int [1:22] NA NA NA 100 100 100 NA 10 8 5 ...
 $ exceededTransferLimit: logi TRUE
 $ features             :'data.frame':	1000 obs. of  24 variables:
  ..$ attributes.OBJECTID      : int [1:1000] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ attributes.carr_way_no   : int [1:1000] 23788 34813 58 1826 1627 1768 133 1512 1384 1367 ...
  ..$ attributes.road_id       : int [1:1000] 50888 70028 70028 70028 70028 70028 70028 70070 70121 70129 ...
  ..$ attributes.road_name     : chr [1:1000] "BRAMLEY DR" "AWHITU RD" "AWHITU RD" "AWHITU RD" ...
  ..$ attributes.start_name    : chr [1:1000] "FIELDING CRES (WEST)" "KING ST (SUMPS RHS)" "WAIPIPI WHARF RD (POWERPOLE LHS)" "CRAIG RD" ...
  ..$ attributes.end_name      : chr [1:1000] "FIELDING CRES (EAST)" "MILLBROOK DR" "CRAIG RD" "GORDON RD" ...
  ..$ attributes.location      : int [1:1000] 522 230 5830 6522 23199 26056 30814 50 50 85 ...
  ..$ attributes.latest        : chr [1:1000] "Yes" "Yes" "Yes" "Yes" ...
  ..$ attributes.count_date    : num [1:1000] 1.02e+12 1.33e+12 1.09e+12 6.40e+11 8.56e+11 ...
  ..$ attributes.peak_hour     : chr [1:1000] NA "1700" "08:00" NA ...
  ..$ attributes.count_duration: chr [1:1000] NA NA NA NA ...
  ..$ attributes.adt           : int [1:1000] 451 3831 613 1380 858 844 437 242 37 196 ...
  ..$ attributes.peaktraffic   : int [1:1000] NA 407 86 NA NA NA 0 51 11 0 ...
  ..$ attributes.pccar         : int [1:1000] NA 92 81 81 81 86 92 92 0 92 ...
  ..$ attributes.pclcv         : int [1:1000] NA 4 9 9 9 8 3 4 97 5 ...
  ..$ attributes.pcmcv         : int [1:1000] NA 3 3 3 3 3 4 3 3 2 ...
  ..$ attributes.pchcvi        : int [1:1000] NA 1 4 4 4 2 0 1 0 1 ...
  ..$ attributes.pchcvii       : int [1:1000] NA 0 3 3 3 1 1 0 0 0 ...
  ..$ attributes.pcbus         : int [1:1000] NA 0 0 0 0 0 0 0 0 0 ...
  ..$ attributes.pcheavy       : int [1:1000] NA 4 10 10 10 6 5 4 3 3 ...
  ..$ attributes.NZTMX         : num [1:1000] 1767775 1752175 1749564 1749377 1742975 ...
  ..$ attributes.NZTMY         : num [1:1000] 5915373 5876739 5881077 5881706 5889542 ...
  ..$ geometry.x               : num [1:1000] 175 175 175 175 175 ...
  ..$ geometry.y               : num [1:1000] -36.9 -37.2 -37.2 -37.2 -37.1 ...

In [110]:
# two elements of interest, fields and features 
# fields seems to be a dictionary of sorts, and features has the actual data
# turning these into dataframes
traffic_fields <- as.data.frame(traffic_raw$fields)
traffic_data <- as.data.frame(traffic_raw$features)
traffic_data %>%
    glimpse()

Rows: 1,000
Columns: 24
$ attributes.OBJECTID       <int> 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 1~
$ attributes.carr_way_no    <int> 23788, 34813, 58, 1826, 1627, 1768, 133, 151~
$ attributes.road_id        <int> 50888, 70028, 70028, 70028, 70028, 70028, 70~
$ attributes.road_name      <chr> "BRAMLEY DR", "AWHITU RD", "AWHITU RD", "AWH~
$ attributes.start_name     <chr> "FIELDING CRES (WEST)", "KING ST (SUMPS RHS)~
$ attributes.end_name       <chr> "FIELDING CRES (EAST)", "MILLBROOK DR", "CRA~
$ attributes.location       <int> 522, 230, 5830, 6522, 23199, 26056, 30814, 5~
$ attributes.latest         <chr> "Yes", "Yes", "Yes", "Yes", "Yes", "Yes", "Y~
$ attributes.count_date     <dbl> 1.016669e+12, 1.332374e+12, 1.086912e+12, 6.~
$ attributes.peak_hour      <chr> NA, "1700", "08:00", NA, NA, NA, "1300", "15~
$ attributes.count_duration <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, ~
$ attributes.adt            <int> 451, 3831, 613, 1380, 858, 844, 437, 242, 37~
$ attributes.peaktraffic    <int> NA, 407, 86, NA, NA, NA, 0, 51, 11, 0, 120, ~
$ attributes.pccar          <int> NA, 92, 81, 81, 81, 86, 92, 92, 0, 92, 89, 8~
$ attributes.pclcv          <int> NA, 4, 9, 9, 9, 8, 3, 4, 97, 5, 2, 9, 2, 9, ~
$ attributes.pcmcv          <int> NA, 3, 3, 3, 3, 3, 4, 3, 3, 2, 8, 3, 4, 3, 5~
$ attributes.pchcvi         <int> NA, 1, 4, 4, 4, 2, 0, 1, 0, 1, 1, 4, 1, 4, 1~
$ attributes.pchcvii        <int> NA, 0, 3, 3, 3, 1, 1, 0, 0, 0, 0, 3, 0, 3, 1~
$ attributes.pcbus          <int> NA, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0~
$ attributes.pcheavy        <int> NA, 4, 10, 10, 10, 6, 5, 4, 3, 3, 9, 10, 5, ~
$ attributes.NZTMX          <dbl> 1767775, 1752175, 1749564, 1749377, 1742975,~
$ attributes.NZTMY          <dbl> 5915373, 5876739, 5881077, 5881706, 5889542,~
$ geometry.x                <dbl> 174.8829, 174.7157, 174.6854, 174.6832, 174.~
$ geometry.y                <dbl> -36.89272, -37.24347, -37.20481, -37.19917, ~

In [111]:
# the column names of traffic_data could be more readable, currently they are 'attributes.OBJECTID, attributes.carr_way_no' etc. 
# luckily we have the alias column in traffic_fields, let's use that
colnames(traffic_data) <- (traffic_fields$alias) 

traffic_data %>%
    glimpse()

Rows: 1,000
Columns: 24
$ OBJECTID                 <int> 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14~
$ `CARRIAGEWAY NO`         <int> 23788, 34813, 58, 1826, 1627, 1768, 133, 1512~
$ `Road ID`                <int> 50888, 70028, 70028, 70028, 70028, 70028, 700~
$ `Road Name`              <chr> "BRAMLEY DR", "AWHITU RD", "AWHITU RD", "AWHI~
$ `Carriageway Start Name` <chr> "FIELDING CRES (WEST)", "KING ST (SUMPS RHS)"~
$ `Carriageway End Name`   <chr> "FIELDING CRES (EAST)", "MILLBROOK DR", "CRAI~
$ Location                 <int> 522, 230, 5830, 6522, 23199, 26056, 30814, 50~
$ `Latest Count`           <chr> "Yes", "Yes", "Yes", "Yes", "Yes", "Yes", "Ye~
$ `Count Date`             <dbl> 1.016669e+12, 1.332374e+12, 1.086912e+12, 6.4~
$ `Peak Hour`              <chr> NA, "1700", "08:00", NA, NA, NA, "1300", "15:~
$ `Count Duration`         <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N~
$ ADT                      <int> 451, 3831, 613, 1380, 858, 844, 437, 242, 37,~
$ `Peak Traffic`           <int> NA, 407, 86, NA, NA, NA, 0, 51, 11, 0, 120, N~
$ `Car (%)`                <int> NA, 92, 81, 81, 81, 86, 92, 92, 0, 92, 89, 81~
$ `LCV (%)`                <int> NA, 4, 9, 9, 9, 8, 3, 4, 97, 5, 2, 9, 2, 9, 3~
$ `MCV (%)`                <int> NA, 3, 3, 3, 3, 3, 4, 3, 3, 2, 8, 3, 4, 3, 5,~
$ `HCVI (%)`               <int> NA, 1, 4, 4, 4, 2, 0, 1, 0, 1, 1, 4, 1, 4, 1,~
$ `HCVII (%)`              <int> NA, 0, 3, 3, 3, 1, 1, 0, 0, 0, 0, 3, 0, 3, 1,~
$ `Bus (%)`                <int> NA, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,~
$ `HCV Total (%)`          <int> NA, 4, 10, 10, 10, 6, 5, 4, 3, 3, 9, 10, 5, 1~
$ `X Coordinate NZTM`      <dbl> 1767775, 1752175, 1749564, 1749377, 1742975, ~
$ `Y Coordinate NZTM`      <dbl> 5915373, 5876739, 5881077, 5881706, 5889542, ~
$ NA                       <dbl> 174.8829, 174.7157, 174.6854, 174.6832, 174.6~
$ NA                       <dbl> -36.89272, -37.24347, -37.20481, -37.19917, -~

In [112]:
# make  'Count Date' read as date instead of dbl,
# standardise 'Peak Hour'

In [113]:
traffic_data %<>% # dropping the last two columns as they are some kind of coordinates, not necessary in combination with NZTM coords
    select('Road Name':'Y Coordinate NZTM')

In [114]:
traffic_data$'Count Duration' %<>%
    str_replace_all('NA', NA_character_)

In [117]:
test <- traffic_data %>% # this works; check for NAs then replace with 0
    select('Car (%)':'HCV Total (%)') %>%
        replace(is.na(.), '0')
# but how to cleanly assign it?
test

     Car (%) LCV (%) MCV (%) HCVI (%) HCVII (%) Bus (%) HCV Total (%)
1    0       0       0       0        0         0       0
2    92      4       3       1        0         0       4
3    81      9       3       4        3         0       10
4    81      9       3       4        3         0       10
5    81      9       3       4        3         0       10
6    86      8       3       2        1         0       6
7    92      3       4       0        1         0       5
8    92      4       3       1        0         0       4
9    0       97      3       0        0         0       3
10   92      5       2       1        0         0       3
11   89      2       8       1        0         0       9
12   81      9       3       4        3         0       10
13   93      2       4       1        0         0       5
14   81      9       3       4        3         0       10
15   90      3       5       1        1         0       7
16   92      2       2       1        3         0       6
17   81      9       3       4        3         0       10
18   82      3       12      2        1         0       15
19   91      2       6       1        0         0       7
20   90      2       7       1        0         0       8
21   81      9       3       4        3         0       10
22   94      1       4       0        1         0       5
23   81      9       3       4        3         0       10
24   81      9       3       4        3         0       10
25   91      3       4       1        1         0       6
26   94      2       2       2        0         0       4
27   91      2       2       2        3         0       7
28   88      5       5       2        0         0       7
29   89      2       7       2        0         0       9
30   97      1       2       0        0         0       2
...  ...     ...     ...     ...      ...       ...     ...
971  97      1       2       0        0         0       2
972  0       0       0       0        0         0       0
973  95      0       5       0        0         0       5
974  0       0       0       0        0         0       0
975  96      0       3       1        0         0       4
976  0       0       0       0        0         0       0
977  0       0       0       0        0         0       0
978  0       0       0       0        0         0       0
979  97      1       1       1        0         0       2
980  0       0       0       0        0         0       0
981  0       0       0       0        0         0       0
982  95      2       2       1        0         0       3
983  0       0       0       0        0         0       0
984  86      8       3       2        1         0       6
985  0       0       0       0        0         0       0
986  0       0       0       0        0         0       0
987  0       0       0       0        0         0       0
988  96      1       2       1        0         0       3
989  0       0       0       0        0         0       0
990  46      0       54      0        0         0       54
991  99      0       1       0        0         0       1
992  0       0       0       0        0         0       0
993  0       0       0       0        0         0       0
994  99      0       1       0        0         0       1
995  86      8       3       2        1         0       6
996  0       0       0       0        0         0       0
997  0       0       0       0        0         0       0
998  96      1       2       1        0         0       3
999  0       0       0       0        0         0       0
1000 0       0       0       0        0         0       0

In [ ]:
# make  'Count Date' read as date instead of dbl

In [120]:
traffic_data %>%
    write_csv("traffic_counts.csv")